<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About Me</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark custom-navbar">
  <a class="navbar-brand" href="main.html">Francisco Flores Enríquez</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="aboutMe.html">About Me</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="main.html">Projects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="contact.html">Contact</a>
      </li>
    </ul>
  </div>
</nav>

<section id="about" class="d-flex align-items-center">
  <div class="container">
    <div class="row">
      <div class="col-md-4 text-center">
        <img src="../static/img/IMG_1066%202.JPG" class="img-fluid rounded-circle mb-4" alt="Profile Picture">
        <div class="bg-dark text-white p-4 rounded">
          <h3>Certifications</h3>
          <ul>
            <li>Python Essentials 1</li>
            <li><img src="../static/img/certPython.png"></li>
          </ul>
        </div>
        <div class="mt-4 bg-dark text-white p-4 rounded">
          <h4>Follow Me</h4>
          <div class="social-icons">
            <a href="https://www.linkedin.com/in/francisco-flores-89230b25b/" target="_blank"><i class="fab fa-linkedin fa-2x"></i></a>
            <a href="https://github.com/franciscofloresen" target="_blank"><i class="fab fa-github fa-2x"></i></a>
            <a href="https://instagram.com/franciscofloresenr" target="_blank"><i class="fab fa-instagram fa-2x"></i></a>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="bg-dark text-white p-4 rounded">
          <h2>About Me</h2>
          <p>I’m a Computer Systems Engineering student currently in my seventh semester at ITESO.</p>
          <p>I have a passion for developing innovative solutions and learning new technologies.</p>
          <p>I enjoy going out with my friends, making EDM music, and tuning my car’s performance (and the aesthetics too).</p>

          <h3>Skills</h3>
          <div class="row">
            <div class="col-md-4">
              <h4><i class="fas fa-code fa-2x"></i> Coding</h4>
              <ul>
                <li>Python</li>
                <li>Java</li>
                <li>C</li>
                <li>Web Development</li>
              </ul>
            </div>
            <div class="col-md-4">
              <h4><i class="fas fa-database fa-2x"></i> Databases</h4>
              <ul>
                <li>MySQL</li>
                <li>Dgraph</li>
                <li>MongoDB</li>
                <li>Cassandra</li>
              </ul>
            </div>
            <div class="col-md-4">
              <h4><i class="fas fa-project-diagram fa-2x"></i>Technologies</h4>
              <ul>
                <li>Virtual Machines</li>
                <li>Linux (Ubuntu)</li>
                <li>Docker</li>
                <li>Git</li>
              </ul>
            </div>
          </div>

          <h3>Education</h3>
          <ul>
            <li>ITESO - B.Sc. in Computer Systems Engineering (Expected 2025)</li>
            <li>Cisco Python Essentials 1 Certification</li>
          </ul>

          <h3>Hobbies</h3>
          <ul>
            <li>EDM Music Production (here are my links) -
              <a href="https://open.spotify.com/intl-es/artist/78QcYeeZMQD7No0U50qGeh" target="_blank">Spotify</a> -
              <a href="https://music.apple.com/mx/artist/crylo/1440087680" target="_blank">Apple Music</a>
            - <a href="https://soundcloud.com/crylo-527794171?utm_source=clipboard&utm_medium=text&utm_campaign=social_sharing" target="_blank">Soundcloud</a></li>
            <li>Car Tuning and Performance Enhancement
            <a href="https://www.instagram.com/golfgtimx/" target="_blank">, take a look at my GTI ;)</a></li>
            <li>Travelling and exploring new cultures</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<footer class="bg-dark text-white text-center py-4" id="contacto">
  <p>Contact: franciscofloresenriquez2001@gmail.com</p>
</footer>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://kit.fontawesome.com/a076d05399.js"></script> <!-- Font Awesome for icons -->
</body>
</html>
