<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Portafolio de Francisco</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark custom-navbar">
  <a class="navbar-brand" href="main.html">Francisco Flores Enríquez</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="aboutMe.html">About Me</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="main.html">Projects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="contact.html">Contact</a>
      </li>
    </ul>
  </div>
</nav>

<main class="container my-5">
  <section id="proyectos">
    <h2 class="text-center">My Projects</h2>
    <div class="row">
      <!-- Proyecto 1 -->
      <div class="col-md-4">
        <div class="card mb-4">
          <img src="../static/img/Recording-2024-05-26-000243.gif" class="card-img-top" alt="Proyecto 1">
          <div class="card-body">
            <h5 class="card-title">Snake Game</h5>
            <p class="card-text">A Snake game implementation in C, designed to be used with Ripes software.</p>
            <a href="https://github.com/franciscofloresen/Ripes-Snake-Game-in-C" class="btn btn-primary mt-auto">See on GitHub</a>
          </div>
        </div>
      </div>
      <!-- Proyecto 2 -->
      <div class="col-md-4">
        <div class="card mb-4">
          <img src="../static/img/oceanFlux.gif" class="card-img-top" alt="Proyecto 2">
          <div class="card-body">
            <h5 class="card-title">Minimal Web Page</h5>
            <p class="card-text">A small but fun travel agency service web page</p>
            <a href="https://github.com/codrenatat/OceanFlux2.0" class="btn btn-primary mt-auto">See on GitHub</a>
          </div>
        </div>
      </div>
      <!-- Proyecto 3 -->
      <div class="col-md-4">
        <div class="card mb-4">
          <img src="../static/img/meso-800x600_1.gif" class="card-img-top" alt="Proyecto 3">
          <div class="card-body">
            <h5 class="card-title">Cassandra-Python App</h5>
            <p class="card-text">A database app for Cassandra in Python</p>
            <a href="https://github.com/franciscofloresen/cassandra-Python_App" class="btn btn-primary mt-auto">See on GitHub</a>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<footer class="bg-dark text-white text-center py-4" id="contacto">
  <p>Contact: franciscofloresenriquez2001@gmail.com</p>
</footer>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
